@charset "utf-8";
// 声明混合（mixin） 函数和样式混合使用



$myHeight:100px;
$myColor:color;
$myimg : img;
@mixin color($opacity:50) { //$opacity:50 声明默认值
    opacity: $opacity/100;
    filter: alpha(opacity=$opacity);
    height: $myHeight;
}

#box{
    @include color;     //通过@include调用，传参
    width: 100px;
    background-#{$myColor}: aqua;
}
#box1{
    @include color(20);
    width: 200px;
    background-#{$myColor}: greenyellow;
}