@charset "utf-8";   //必须双引号，单引号报错
html,body,ul,li,p{
    margin: 0;
    padding: 0;
}

// 函数
//sass中的所有关键字都以@开始
$size: 20px;
@function pxTorem($px){
    @return $px * $size
}
#box{
    width: pxTorem(30);     // 括号里面不能带单位，否则最后的值是600pxpx，无效
    height: pxTorem(5);
}

//选择
$type: moster;
#box1{
    width: 100px;
    height: 200px;
    @if $type == hulu {
        background: red;
    } @else if $type == moster {
        background: skyblue;
    } @else if $type == long {
        background: gray;
    }
}
@mixin type($type){
    // @if $type == red {
    //     background: red;
    // } @else if $type == skyblue {
    //     background: skyblue;
    // } @else if $type == gray {
    //     background: gray;
    // }   @else if $type == aqua {
    //     background: gray;
    // }
    background-color: $type;
}

#box2{
    @include type(aqua);
    height: 100px;
}

//循环语句
// @for $i from 1 through 5     相等于 for(let i=1; i<=5;i++)
// @for $i from 1 to 5          相等于 for(let i=1; i<5;i++)
// 区别 through 包括end ,to不包括
// @for $i from 1 to 5 {
//     .item-#{$i}{
//         width: $i * 2em;
//         height: 10px;
//         background: red;
//     }
// }

$i:4;
@while $i>=0 {
    .item-#{$i}{
        width: $i * 2em;
        height: 10px;
        background: red;
    }
    $i: $i - 1      //必须空格
}